/* Modal background overlay */
.modal-opacity {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 9999;
}

/* Modal content */
.modal-overlay {
    background-color: #fff;
    width: 90%;
    max-width: 800px;
    max-height: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.booking-modal-header {
    background-color: #D55107;
    color: #fff;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-modal-header h2 {
    font-size: 1.8rem;
    margin: 0;
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: #fff;
}

.booking-modal-message {
    background-color: #ffeae6;
    padding: 0 2rem 0 3rem;
    display: flex;
    flex-direction: column;
}

.booking-modal-message h4 {
    color: #D55107;
    font-size: 1.5rem;
    font-weight: 700;
}

.booking-modal-message p {
    color: #777;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
}

.date-div {
    display: flex;
    flex-direction: column;
}

.booking-modal-car-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.booking-modal-car-dates {
    display: flex;
    flex-direction: column;
}

.booking-modal-car-dates h5 {
    color: #D55107;
    font-size: 1.5rem;
}

.booking-modal-car-dates span h6 {
    font-size: 1.2rem;
    margin-bottom: .2rem;
}

.booking-modal-car-dates span p {
    color: #777;
    font-size: 1.1rem;
}

.booking-modal-car-details {
    display: grid;
    padding: 0 3rem;
    border-bottom: 1px solid hsla(0, 0%, 47%, .624);
    grid-template-columns: 1fr 1fr;
}

.booking-modal-car-info h5 {
    color: #D55107;
    font-size: 1.3rem;
}

.booking-modal-car-info img {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.booking-modal-car-info h5 span {
    color: #010103;
}

.booking-modal-person-info {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
}

.booking-modal-person-info h4 {
    color: #D55107;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.info-form {
    display: flex;
    flex-direction: column;
}

.info-form__2col {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
}

.info-form__1col span,
.info-form__2col span {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.info-form__1col span label,
.info-form__2col span label {
    color: #777;
    font-size: 1.3rem;
    font-weight: 500;
}

.info-form__1col span input,
.info-form__2col span input {
    background-color: #dbdbdb;
    border: none;
    color: #555;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
    padding: 14px 15px;
}

.reserve-button {
    background-color: #dbdbdb;
    padding: 2.5rem;
    text-align: right;
}

.reserve-button button {
    background-color: #D55107;
    border: 1px solid #ff0;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.2rem 2rem;
    transition: all .2s;
}


@media (max-width: 650px) {
    .booking-modal-car-details {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .info-form__2col,
    .info-form__1col {
        grid-template-columns: 1fr;
    }

    .reserve-button {
        text-align: center;
    }
}

.reserve-button button:hover {
    background-color: #fe3516;
}

.booking-modal-car-dates span {
    display: flex;
    gap: 1rem;
}

.dropdown {
    flex: auto;
    margin-bottom: 10px;
    text-align: center;
}

.info-dropdown {
    margin-top: 15px;
    width: 180px;
    margin-bottom: 5px;
    font-size: 15px;
}
