.navbar {
    display: flex;
    justify-content: space-between;
    /* Align items to the right */
    background-color: #1E1E1E;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bolder;
}

.logo:hover{
    cursor: pointer;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    display: inline-block;
    margin-left: 20px;
}

.nav-menu ul li:first-child {
    margin-left: 0;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}


@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #1E1E1E;
        padding: 10px 0;
        z-index: 1000;
    }

    .nav-menu ul {
        flex-direction: column;
    }

    .nav-menu ul li {
        margin: 10px 0;
    }
}