* {
    scrollbar-color: #D55107 #fff;
    scrollbar-width: thin;
}

.page-vehicle {
    margin: 0 auto !important;
    max-width: 133rem !important;
    padding: 0 2.5rem !important;
}

.vehicle-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    grid-template-rows: auto;
    gap: 2rem;
    align-items: center;
    text-align: center;
    max-width: 110rem;
    margin: 0 auto;
}

/* @media (max-width: 1170px) {
    .vehicle-grid {
        grid-template-columns: 1fr;
        width: fit-content;
   }
} */

@media (max-width: 1170px) {
    .vehicle-grid {
        grid-template-columns: 1fr;
        width: fit-content;
   }
}

.vehicle-grid-ele {
    border: 1px solid #d5d5d5;
    border-radius: 0.3rem;
    display: flex;
    width: 32rem;
    flex-direction: column;
}

@media (max-width: 1170px) {
    .vehicle-grid-ele {
        grid-template-columns: 1fr;
        width: 21rem;
   }
}

.grid-img {
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
}

.grid-img img {
    width: 100%;
    height: 22rem;
}
.grid-box {
    padding: 0rem 3rem;
    display: flex;
    flex-direction: column;
    color: black;
}
.grid-item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid-item-name {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
}
.grid-item-name p {
    font-size: 2rem;
    font-weight: 700;
}
.grid-item-name span {
    display: flex;
    gap: 0.4rem;
}
.grid-item-name span i {
    font-size: 1.4rem;
    color: #ffc933;
}
.grid-item-price {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.grid-item-price h5 {
    font-size: 2rem;
}
.grid-item-price p {
    font-size: 1.5rem;
}
.grid-item-price-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 7rem;
    margin-top: 2.5rem;
    margin: 2rem auto;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #c6c6c6;
}
.grid-item-price-detail span {
    font-size: 1.4rem;
    font-weight: 500;
    color: #777;
    text-align: left;
}
.grid-item-price-detail span i {
    color: black;
}
.grid-item-price-btn {
    background-color: #D55107;
    padding: 1.8rem 3rem;
    border-radius: 0.3rem;
    box-shadow: 0 10px 15px 0 #000;
    transition: all 0.3s;
    border: 2px solid #D55107;
    font-size: 1.8rem;
    cursor: pointer;
}
.grid-item-price-btn:hover {
    box-shadow: 0 10px 15px 0 #000;
    background-color: #fa4226;
}
.grid-item-price-btn a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}
